@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

:root {
    --green: #8D8741;
    --blue: #659dbd;
    --pink: #DAAD86;
    --brown: #BC986A;
    --white: #FBEEC1;
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;

}

html {
    height: 100%;
}

body {
    /* height: 100%; */
    background-repeat: 0;
    background-image: linear-gradient(to bottom right, var(--brown), var(--pink));
    font-family: var(--Poppins);
}

