* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --green: #8D8741;
    --blue: #659dbd;
    --pink: #DAAD86;
    --brown: #BC986A;
    --white: #FBEEC1;

}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.picture-header {
    position: absolute;
    font-size: 10vh;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    grid-column-gap: 20px;
}

.link {
    background-color: #659dbd;
    border: 2px solid black;
    color: rgb(219, 218, 218);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row-gap: 20px;
    text-decoration: none;
    transition: linear 0.2s;
}

.link:hover {
    background-color: var(--green);
}

@media screen and (max-width: 628px) {
    .picture-header {
        font-size: 7vh;
    }
} 

@media screen and (max-width: 1008px) {
    .link {
        font-size: 20px;
    }
}
@media screen and (max-width: 782px) {
    .grid-container {
        grid-template-columns: auto;
        grid-row-gap: 1em ;
    }
}