@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

:root {
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;

}

body {
    font-family: var(--Poppins);
}