@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

:root {
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --green: #8D8741
}

body {
    font-family: var(--Poppins);
}

.landing > h1 {
    font-size: 4vh;
    text-align: center;
}

.landing {
    display: grid;
    grid-template-columns: auto;
}

.rating {
    margin-right: auto;
    margin-left: auto;
}

#numberInput {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#submit {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.epl {
    text-decoration: none;
}